@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@layer components {
    .nav-link {
        @apply p-2 border-b-2 border-white/0 hover:border-orange-400 hover:text-orange-400;
    };
    .footer-link {
        @apply p-2 hover:underline hover:text-white;
    }
}