@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@theme {  
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;  
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;  
    --color-dark: bg-gradient-to-br from-sky-800 via-sky-800 to-sky-950;
    --color-light: bg-gradient-to-br from-sky-700 via-sky-700 to-sky-800;
}